# Final Assignment: Create and Share your Jupyter Notebook

## Exercise 3: Introduction
This is the assignment for Module 6 of "Tools for Data Science"

## Exercise 4: Data Science Languages
### Primary languages
* Python
* R
* SQL

### Secondary languages
* Scala
* Java
* C++
* Julia

### Less commonly used languages
* JavaScript
* PHP
* Go
* Ruby
* Visual Basic

## Exercise 5: data science libraries
* NumPy 
* Pandas
* Matplotlib
* Seaborn
* SciPy
* Scikit
* TensorFlow
* Pytorch
* Keras

## Exercise 6: Data science tools
| Tool  |Use Case   |
|------|-----------|
|MySQL   |Relational Database   | 
| PostgreSQL  | Relational Database  |
| Hadoop File System  | Clustered file storage  | 
| Apache AirFlow | Integration & Transformation |
| Apache Spark | Cluster processing |
| Apache Kafka | Stream processing |
| Apache Nifi | ETL |

## Exercise 7: Introducing arithmetic expression examples
Arithmetic can be done as following in a code cell:

> 1 + 1

Or: 

> 2*3

The output will then be shown below when executing the cell.

In [10]:
5*2+3

13

In [11]:
def minutes_to_hours(minutes):
    return minutes / 60

# Test
minutes = 120
hours = minutes_to_hours(minutes)
print(f'{minutes} minutes is {hours} hours.')

120 minutes is 2.0 hours.

## Exercise 10: Objectives
Objectives of "Tools for Data Science" are:

* Be able to list components of a Data Scientists toolkit
* List categories of tools
* List examples of various tools
* Learn about languages and libraries used
* Learn basics of Jupyter Notebooks
* Learn basics of R and R Studio

## Exercise 11 - Author: Wille Faler